@model List<BookStore.Models.CATEGORY>

@foreach (var i in Model)
{
    <section class="recomended-sec">
        <div class="container">
            <div class="title">
                <a href="@ViewBag.meta/@i.meta/" ><h2>@i.namecategory</h2></a>
                <hr>
            </div>
            <div class="row">
                @Html.Action("getProduct", "Default", new { id = @i.idcategory, metatitle = @ViewBag.metatitle})
            </div>
        </div>
    </section>
}